:root {
    --background: #BA9B8D;
    --borders: #BA9B8D;
    --text: #201b19;
    --element1: #6F323C;
    --element2: #585651;
    --element3: #814A38;

    --element4: #52262d;
    --element5: #4b4944;
    --element6: #643a2c;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.container {
    margin-top: 50px;
}

.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--borders);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.work {
    float: left;
    width: 50%;
    min-height: 300px;
    padding-right: 20px;
    box-sizing: border-box;
}

.done {
    float: right;
    width: 50%;
    min-height: 300px;
    padding-left: 20px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.start {
    background-color: var(--element1);
    color: var(--text);
}

.pause {
    background-color: var(--element2);
    color: var(--text);
}

.stop {
    background-color: var(--element3);
    color: var(--text);
}

.lock {
    background-color: var(--element2);
    color: var(--text);
}

input[type=checkbox] {
    transform: scale(2);
    accent-color: var(--background);
}

input[type=text] {
    background-color: var(--background);
    color: var(--text);
    font-weight: bold;
    border: 0;
}